################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Training.CMS/Training.Data/obj/
/Training.CMS/Training.Domain/obj
/Training.CMS/Training.Service/obj/
/Training.CMS/Training.Web/obj/
/Training.CMS/Training.Test/obj/
/Training.CMS/Training.CMS.Sql/bin/
/Training.CMS/Training.CMS.Sql/obj/
/Training.CMS/Training.Test/bin/
/Training.CMS/Training.Web/bin/

*.suo