
nav a:hover {
    background-color: #2a66f5;
    color: white;
}

.reset {
    clear: both;
}

body {
    margin: 0;
    padding: 0;
}

form {
    display: table;
    margin: 0 auto;
}

header {
    padding-top: 10px;
    height: 100px;
}

.headertop {
    margin: 0 auto;
    height: 50px;
}

.logo {
    margin-right: 100px;
    float: left;
}

#ChooseMovieType {
    margin-right: 20px;
    height: 30px;
    border-radius: 3px;
}

#InputActor {
    padding: 1px 2px;
    width: 300px;
    height: 24px;
    color: #acb7bf;
}

#SubmitCondition {
    height: 30px;
    background: #5DADE2;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px black;
}


nav {
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    background-color: #5DADE2;
}

    nav a {
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        font-weight: 900;
        border-radius: 3px;
    }

section {
    width: 1300px;
}

.itemPlaceholderContainer {
    margin: 0 auto;
    padding-top: 10px;
    width: 1111px;
}

.empty {
    margin-left: 30px;
}

.listviewitems {
    margin: 10px;
    display: table;
    float: left;
}

.itemleft {
    float: left;
    height: 130px;
    border: 2px solid #acb7bf;
}

.itemright {
    margin-left: 20px;
    padding-top: 5px;
    float: left;
    width: 195px;
    height: 129px;
    font-size: 13px;
    overflow: auto;
}

.datapagecontrol {
    margin: 0 auto;
    padding-top: 15px;
    display: table;
}

.datapage {
    padding: 5px 7px;
    font-size: 13px;
    text-decoration: none;
    background: white;
    border: 1px solid #acb7bf;
}
